<section class="about-me">
  <h2>Sobre mim</h2>
  <div class="div-about">
    <p>Bem-vindo! Sou o Vinicius e estou a procura de uma primeira oportunidade, sou um profissional apaixonado por tecnologia e inovação, com formação em Análise e Desenvolvimento de Sistemas e diversas certificações, incluindo Desenvolvimento Web, Python, Typescript, Javascript, SQL, Scrum, e Comunicação empresarial.Estou aberto a oportunidades para aplicar minhas habilidades de forma impactante e colaborar com equipes dedicadas. Se você procura um profissional proativo e apaixonado por tecnologia, vamos nos conectar e construir algo incrível juntos!</p>
    <div class="headline"></div>
  </div>
</section>
