@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  color: #1F2626;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  a {
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
  }
}
