<section class="grid">
    <h2>Projetos</h2>
    <div class="container">
      <div class="item">
        <a href="https://github.com/ViniciusDN/landing-page-angular" target=”_blank”>Landing Page Angular</a>
        <div class="tec">
          <span>Typescript</span>
          <span>SCSS</span>
          <span>HTML</span>
        </div>
        <p>Projeto feito em angular 17 com SSR Projeto de landing page com envio de nome e verificação de email. Projeto já otimizado com alterações em services e no componente newsletter</p>
      </div>
      <div class="item">
        <a href="https://github.com/ViniciusDN/Desafio-front-end" target=”_blank”>Desafio-front-end</a>
        <div class="tec">
          <span>Typescript</span>
          <span>NextJS</span>
          <span>Styled Components</span>
        </div>
        <p>Desafio feito com tecnologias Typescript, NextJS, Styled components e usando LocalStorage.</p>
      </div>
      <div class="item">
        <a href="https://github.com/ViniciusDN/mobile-app" target="_blank">App Mobile</a>
        <div class="tec">
          <span>Dart</span>
          <span>C++</span>
          <span>Javascript</span>
        </div>
        <p>Desafio feito em Dart/Flutter front-end mobile e a parte do back-end conexão com o banco de dados feita em JS</p>
      </div>
      <div class="item">
        <a href="https://github.com/ViniciusDN/api-resDev" target="_blank">Api-Rest</a>
        <div class="tec">
          <span>JavaScript</span>
        </div>
        <p>Api feita em JS para cadastros de alunos.</p>
      </div>
    </div>
    <btn-primary
    text="Ver todos projetos"
    class="btn"
    link="https://github.com/ViniciusDN"
    >

    </btn-primary>
</section>

