@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

button {
  font-family: "Montserrat";
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #DBFFFF;
  background: -webkit-linear-gradient(180deg,#FF6196, #5222D0);
  padding: 12px 22px;
  cursor: pointer;
}
